* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}
body {
  background-color: rgb(0, 0, 33);
  color: white;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  overflow-x: hidden;
  width: 100%;
}

.git {
  margin-top: 30px;
  display: flex;
  gap: 30px;
}
#github-btn,
#resume-btn {
  background: transparent;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
  border: 2px solid #ff004f;
  transition: 0.3s;
  box-shadow: 0 0 12px rgba(255, 255, 255, 0.3);
}

#github-btn a {
  color: white;
  text-decoration: none;
}

#github-btn:hover,
#resume-btn:hover {
  background: #ff004f;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.7);
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 40px;
  background-color: rgb(15, 15, 39);
}
nav ul {
  display: flex;
  list-style: none;
}
nav ul li a {
  margin: 0 23px;
  cursor: pointer;
  text-decoration: none;
  color: white;
  position: relative;
}
nav ul li a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  background: #ff004f;
  left: 0;
  bottom: -5px;
  transition: 0.5s;
}

nav ul li a:hover::after {
  width: 100%;
}

.left {
  font-size: 1.3rem;
  font-weight: 600;
  margin-right: 80px;
}

.design {
  display: flex;
  justify-content: space-around;
  margin: 23px;
  height: 100vh;
}

.purple {
  color: rgb(152, 16, 231);
  font-weight: 400;
}

.portfolio {
  color: rgb(114, 32, 254);
}

.left-intro {
  padding-top: 60px;
  height: auto;
  width: 370px;
  margin-top: 90px;
  justify-content: center;
  font-size: 2rem;
  font-weight: 500;
}

.right-image {
  background-image: url("vishal.jpg");
  background-size: cover;
  height: 400px;
  width: 400px;
  border-radius: 50%;
  margin-top: 80px;
  border: rgb(247, 243, 243) solid 3px;
  box-shadow: 0 0 12px rgba(255, 255, 255, 0.9);
}

.right-image:hover{
  background-image: url(vishal-image.jpg);
}

#element {
  color: rgb(152, 16, 231);
}

/* -----------------------------------------about------------------------  */

.about {
  display: flex;
  height: 100vh;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#font-color {
  color: #ababab;
}

.about-intro {
  font-size: 40px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  padding-top: 20px;
}

.about-text {
  flex: 1;
  display: flex;
  align-items: center;
  text-align: justify;
  padding-left: 20px;
  padding-right: 20px;
}

.left-container {
  width: 550px;
  background: black;
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  box-shadow: 0 0 12px rgba(255, 255, 255, 0.5);
}

.right-container {
  width: 550px;
  background-color: black;
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  box-shadow: 0 0 12px rgba(255, 255, 255, 0.5);
}

.skills- {
  font-size: 40px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  padding-top: 20px;
}

.card {
  background: #111827;
  padding: 25px 15px;
  border-radius: 18px;
  transition: 0.3s;
  box-shadow: 0 0 12px rgba(255, 255, 255, 0.5);
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
}

.card i {
  font-size: 35px;
  margin-bottom: 12px;
}

.card p {
  font-size: 15px;
  color: #d1d5db;
}

.tab-contents ul li {
  list-style: none;
  margin: 10px 0;
}
.tab-contents ul li span {
  color: #ff004f;
  font-size: 14px;
}

.skill-tab {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 20px;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 50px;
}
/* ---------------projectpage --------------- */

#project-page {
  margin-top: 70px;
  /* height: 100vh; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#my-project {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 40px;
  font-weight: 600;
}

.project-parent-1 {
  height: 555px;
  width: 70%;
  background: linear-gradient(135deg, #0f172a 0%, #1e1b4b 30%, #064e3b 70%, #022c22 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

.project-parent-2 {
  height: 555px;
  width: 70%;
  background: linear-gradient(to bottom, #bc5a45 0%, #1a1216 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
}

.project-parent-3 {
  height: 555px;
  width: 70%;
  background: radial-gradient(circle at top left, #2e1065 0%, #0f172a 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
}

.project-1 {
  height: 450px;
  width: 70%;
  background-image: url(Screenshot-project.png);
  background-size: cover;
  display: flex;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 0 12px rgba(255, 255, 255, 0.15);
}

.project-1:hover {
  transform: translateY(-6px);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
}

.project-2 {
  height: 450px;
  width: 70%;
  background-image: url(project-3.png);
  background-size: cover;
  display: flex;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 0 12px rgba(255, 255, 255, 0.08);
}
.project-2:hover {
  transform: translateY(-6px);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
}

.project-3 {
  height: 450px;
  width: 70%;
  background-image: url(Screenshot-3.png);
  background-size: cover;
  display: flex;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 0 12px rgba(255, 255, 255, 0.08);
}
.project-3:hover {
  transform: translateY(-6px);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
}

#heading {
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
}
