* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: rgb(0, 0, 33);
  color: white;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  width: 100%;
}

.git {
  margin-top: 30px;
  display: flex;
  gap: 30px;
}
#github-btn,
#resume-btn {
  background: transparent;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
  border: 2px solid #ff004f;
  transition: 0.3s;
  box-shadow: 0 0 12px rgba(255, 255, 255, 0.3);
}

#github-btn a,
#resume-btn a {
  color: white;
  text-decoration: none;
}

#github-btn:hover,
#resume-btn:hover {
  background: #ff004f;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.7);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 13%;
}

.left {
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  width: 120px;
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 20px;
}

.right {
  font-size: 14px;
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 20px;
  padding: 8px 16px;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li a {
  margin: 0 15px;
  cursor: pointer;
  text-decoration: none;
  color: white;
  position: relative;
}

nav ul li a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  background: #ff004f;
  left: 0;
  bottom: -5px;
  transition: 0.5s;
}

nav ul li a:hover::after {
  width: 100%;
}

.design {
  display: flex;
  justify-content: space-around;
  margin: 19px;
  height: 100vh;
}

.purple {
  color: rgb(152, 16, 231);
  font-weight: 500;
}

.portfolio {
  color: rgb(114, 32, 254);
}

.left-intro {
  padding-top: 60px;
  height: auto;
  width: 360px;
  margin-top: 95px;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 500;
}

.right-image {
  background-image: url("vishal.jpg");
  background-size: cover;
  height: 370px;
  width: 370px;
  border-radius: 50%;
  margin-top: 70px;
  border: rgb(247, 243, 243) solid 3px;
  box-shadow: 0 0 12px rgba(255, 255, 255, 0.9);
}

.right-image:hover {
  background-image: url(vishal-image.jpg);
}

#element {
  color: rgb(152, 16, 231);
}

/* -----------------------------------------about------------------------  */

.about {
  display: flex;
  height: 100vh;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#font-color {
  color: #ababab;
}

.about-intro {
  font-size: 35px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  padding-top: 20px;
}

.about-text {
  font-size: 14.3px;
  flex: 1;
  display: flex;
  align-items: center;
  text-align: justify;
  padding-left: 20px;
  padding-right: 20px;
}

.left-container {
  width: 490px;
  background: black;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 0 0 12px rgba(255, 255, 255, 0.5);
}

.right-container {
  width: 490px;
  background-color: black;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 0 0 12px rgba(255, 255, 255, 0.5);
}

.skills- {
  font-size: 35px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  padding-top: 20px;
}

.card {
  background: #111827;
  padding: 25px 15px;
  border-radius: 18px;
  transition: 0.3s;
  box-shadow: 0 0 12px rgba(255, 255, 255, 0.5);
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
}

.card i {
  font-size: 30px;
  margin-bottom: 12px;
}

.card p {
  font-size: 15px;
  color: #d1d5db;
}

.tab-contents ul li {
  list-style: none;
  margin: 10px 0;
}
.tab-contents ul li span {
  color: #ff004f;
  font-size: 14px;
}

.skill-tab {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 20px;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 50px;
}
/* ---------------projectpage --------------- */

.project-page {
  margin-top: 65px;
  /* height: 100vh; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#my-project {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 35px;
  font-weight: 600;
}

.project-parent-1 {
  height: 500px;
  width: 70%;
  background: linear-gradient(
    135deg,
    #0f172a 0%,
    #1e1b4b 30%,
    #064e3b 70%,
    #022c22 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

.project-parent-2 {
  height: 500px;
  width: 70%;
  background: linear-gradient(to bottom, #bc5a45 0%, #1a1216 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
}

.project-parent-3 {
  height: 500px;
  width: 70%;
  background: radial-gradient(circle at top left, #2e1065 0%, #0f172a 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
}

.project-1 {
  height: 390px;
  width: 70%;
  background-image: url(Screenshot-project.png);
  background-size: cover;
  display: flex;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 0 12px rgba(255, 255, 255, 0.15);
}

.project-1:hover {
  transform: translateY(-6px);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
}

.project-2 {
  height: 390px;
  width: 70%;
  background-image: url(project-3.png);
  background-size: cover;
  display: flex;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 0 12px rgba(255, 255, 255, 0.08);
}
.project-2:hover {
  transform: translateY(-6px);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
}

.project-3 {
  height: 390px;
  width: 70%;
  background-image: url(Screenshot-3.png);
  background-size: cover;
  display: flex;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 0 12px rgba(255, 255, 255, 0.08);
}
.project-3:hover {
  transform: translateY(-6px);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
}

#heading {
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  font-size: 17px;
}

#some-text {
  font-size: small;
}
/* ------------------------------------------contact form------------------------------------- */
#contact-form {
  margin-top: 60px;
  height: 110vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 18px;
}

input {
  width: 70%;
  height: 50px;
  border-radius: 8px;
  padding: 12px 20px;
  font-family: "Courier New", Courier, monospace;
  font-size: large;
}
textarea {
  width: 70%;
  height: 175px;
  border-radius: 8px;
  padding: 12px 20px;
  font-family: "Courier New", Courier, monospace;
  font-size: large;
}

#submit-data {
  background-color: transparent;
  width: 160px;
  height: 50px;
  border-radius: 20px;
  color: #ffffff;
  border: 1.5px solid #ff004f;
  font-size: 15px;
}
#submit-data:hover {
  background: #ff004f;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.7);
}

#para {
  padding-bottom: 30px;
  font-size: 14px;
}

#contact-me {
  font-family: JetBrains Mono;
  font-size: 52px;
}

.footer-data {
  height: 45px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #0e1117;
  color: #ffffff;
}
.logo-data {
  margin-right: 20px;
  width: 70px;
  display: flex;
  justify-content: space-between;
}
.logo-1,
.logo-2 {
  cursor: pointer;
}

.footer-data .logo-data i {
  font-size: 30px;
}

.text-footer {
  font-size: small;
}
/* -------------------------------------- Mobile responsive style ------------------------------------------- */
@media (max-width: 768px) {
  #header-1 {
    padding-top: 8px;
  }
  .right {
    height: 40px;
    border: 1px solid #ff004f;
  }
  .left {
    display: none;
  }

  .right-image {
    height: 250px;
    width: 250px;
  }
  .design {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .left-intro {
    font-size: 1.5rem;
    padding-bottom: 200px;
    padding-left: 50px;
  }
  .about {
    margin: 30px;
    height: 130vh;
    gap: 80px;
  }
  .left-container {
    font-size: small;
  }

  .card {
    width: 80px;
    height: 80px;
  }
  .card i {
    font-size: 20px;
    margin-bottom: 12px;
  }

  .card p {
    font-size: 10px;
    color: #d1d5db;
  }

  .skill-tab {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
  }

  .project-parent-1,
  .project-parent-2,
  .project-parent-3 {
    height: 300px;
    width: 85%;
    justify-content: space-around;
  }

  .project-1,
  .project-2,
  .project-3 {
    height: 170px;
  }

  #my-project {
    padding-bottom: 40px;
  }

  #some-text {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
    font-size: 10px;
  }

  #contact-form {
    height: 740px;
  }

  .footer-data {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;
    height: auto;
    padding: 8px;
  }

  .text-footer {
    text-align: center;
    font-size: 0.85rem;
  }

  .logo-data {
    justify-content: center;
    gap: 20px;
  }
}
